// *
// *  Variables
// *

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Breakpoints
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
$small-breakpoint: 500px;
$mid-breakpoint: 768px;
$large-breakpoint: 960px;

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Fonts
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
$futura-stack: Futura, 'Trebuchet MS', Arial, sans-serif;
$helvetica-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$georgia-stack: Georgia, Times, 'Times New Roman', serif;

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Colors
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
$text-color: #222;
