// *
// *  Variables
// *

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Breakpoints
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
$small-breakpoint: 500px;
$mid-breakpoint: 768px;
$large-breakpoint: 960px;