// *
// *  Variables
// *

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Breakpoints
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
$small-breakpoint: 500px;
$mid-breakpoint: 768px;
$large-breakpoint: 960px;

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Fonts
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
$sans-serif-stack-1: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
$sans-serif-stack-2: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
$serif-stack: "Lucida Bright", Georgia, serif;

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Colors
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
$text-color: #222;
$text-color--light: #999;
$link-color: rgb(84,144,181);
$accent-color: rgb(84,144,181);
