// *
// *  Default Element Styles
// *

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $sans-serif-stack-2;
  color: $text-color;
}

a {
  color: $link-color;
  text-decoration: none;
}

figure {
  width: 100% !important; // #techdebt
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5 {
  font-family: $sans-serif-stack-1;
}
