// *
// *  Default Element Styles
// *

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $helvetica-stack;
  color: $text-color;
}

a {
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5 {
  font-family: $futura-stack;
}
