// *
// *  Default Element Styles
// *

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: helvetica, verdana, sans-serif;
}

a {
  text-decoration: none;
}

figure {
  margin: 0;
  background: yellow;
}
