// *
// *  Post
// *

$module-name: 'post';

.#{$module-name} {
  display: grid;
  grid-template-columns: 8.333333333333% 83.333333333333% 8.333333333333%;
  margin-bottom: 3em;

  &__header {
    grid-column: 2 / span 1;
  }

  &__meta {
    position: relative;
    color: #666;
    font-size: 0.9em;
    text-transform: uppercase;
    text-align: center;

    &:after {
      display: block;
      content: ' ';
      position: absolute;
      top: 40%;
      z-index: -100;
      // width: 50%;
      // margin: 0 0 0 25%;
      width: 100%;
      border-top: 3px double #ccc;
    }
  }

  &__time {
    display: inline-block;
    padding: 0 20px;
    background: #fff;
  }

  &__title {
    margin-top: 2em;

    .page & {
      margin-top: 0;
    }
  }

  &__title-link {
    color: $text-color;
  }

  &__content {
    grid-column: 1 / span 3;
    display: grid;
    grid-template-columns: 8.333333333333% 83.333333333333% 8.333333333333%;
    font-family: $serif-stack;

    & > p {
      grid-column: 2 / span 1;
      margin-top: 0;
      line-height: 1.5em;
    }

    & figure {
      grid-column: 1 / span 3;
      margin-left: auto;
      margin-right: auto;
      text-align: center;

      & img {
        margin: auto;
      }

    }

    & figcaption {
      margin-top: 1em;
      padding-left: 1em;
      border-left: 3px solid #ccc;
      text-align: left;
      line-height: 1.6em;
    }

    & .gallery {
      grid-column: 1 / span 3;
      figure {
        margin-bottom: 3em;
      }
    }

  }

  &__footer {
    grid-column: 2 / span 1;
  }


}

@include media-query(large) {

  .#{$module-name} {
    grid-template-columns: 16.6666666667% 66.6666666666% 16.6666666667%;

    &__content {
      grid-template-columns: 16.6666666667% 66.6666666666% 16.6666666667%;

      & > p {
        grid-column: 2 / span 1;
        font-size: 1.2em;
        line-height: 1.8em;
      }

    }


  }

}
