// *
// *  Site Header
// *

$module-name: 'site-header';

.#{$module-name} {
  background: #ccc;
  margin-bottom: 3em;
  text-align: center;

  &__title {
    margin: 0;
    padding: .5em 0;
    font-family: $sans-serif-stack-1;
    font-size: 1.1em;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: #aaa;

    &-link {
      color: #fff;
    }
  }

}

@include media-query(mid) {

  .#{$module-name} {
    &__title {
      font-size: 1.6em;
      letter-spacing: .2em;
    }
  }

}
